.grid {
  border: solid 1px #ccc padding: 0px 0px 0 0;
}
.grid li {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 0px #ccc;
  margin: 0;
  background: #eee;
}
.grid li:odd {
  background: #ddd;
}


/**** Transitions ****/

.masonry,
.masonry li { /* apply before masonry add class */
  position: absolute; /* important to add it before enter animation start */

  -webkit-transition-duration: .9s;
  transition-duration: .9s;

  -webkit-transition-property: all;
  transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
